<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script src="https://cdn.plot.ly/plotly-2.17.1.min.js"></script>
 <script src="/js/plot.js"></script>
    <title>Document</title>
</head>
<body>
    

<div id='user-diagram'>

</div>

 </body>
</html>