<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">

<div class="class">
    <nav>
        <h2 class="hero">Fitness Tracker</h2>
        <ul>
            <div class="aaa">
                <a href="#about-us" class="nav-items">About us</a>
                <a href="#contact-us" class="nav-items">Contact Us</a>
                {{#if login}}
                <a href="/dashboard" class="nav-items">Dashboard</a>
                <a href="#contact-us" class="nav-items">Contact Us</a>
                <a href="/api/users/logout" class="nav-items">Log out</a>
                {{else}}
                <a href="/login" class="nav-items">Log in</a>
                {{/if}}

            </div>
        </ul>
    </nav>
</div>

<div class="main">

    <h2 id="a"> START TODAY!</h2><br>
    <h2 id="b"> THE BODY ACHIEVES</h2<br>
        <h2 id="c"> WHAT THE MIND BELIEVS</h2><br>

</div>

<button id="b1">
    <a href="/signup">SIGN UP</a>
</button>
<div class="brands">
    <a href="https://www.underarmour.com/en-us/" class="nav-items1">UNDER ARMOUR</a>
    <a href="https://www.nike.com/" class="nav-items1">NIKE</a>
    <a href="https://www.beaybl.com/" class="nav-items1">AYBL</a>
</div>
<section id="about-us">
    <div class="about-us" id="about-us">
        <div class="text">
            <h2>About us</h2>
            <h2>We are always exploring new ideas that improve not only body and mind, but also integrate wellness
                into our daily lives. This can help us all to be more thoughtful, productive and engaged as we savor
                the journey of life. We are strongly committed to education and the positive impact that data and
                science can bring to our daily lives. We also recognize the importance of knowing ourselves and
                working with others to pursue our purpose.</h2>
        </div>
        <div class="pic1">
            <p><img src="./Assets/juaim2.jpeg">
                </a></p>
        </div>
    </div>
</section>

<footer>
    <h1 class="cont" id="contact-us">Contact us</h1>
   
   
<a href="https://github.com/VladaBolotova"><i class="fas fa-clock" style="font-size:48px;color:rgb(17, 119, 155);"></i></a>
<a href="mailto:vladislavabolotova@gmail.com"></a><i class="fas fa-phone" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>


</footer>