  <link rel="stylesheet" href="/css/signUp.css">
    <div class="main-block">
      <h1>Fitness Tracker</h1>
      <form id="log-in">
       
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="name" id="email" placeholder="Email" required/>
      
        <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
        <input type="password" name="name" id="password" placeholder="Password" required/>
        
        <div class="btn-block">

          <button type="submit" class="submitBtn">Log in</button>
          <button><a href="/signup">Sign Up</a></button>
        </div>
      </form>
    </div>
   
    <script src="/js/logIn.js"></script>
 