<!DOCTYPE html>
<html>
  <head>
    <title>Simple log in form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="../public/css/signUp.css">
  </head>
  <body>
    <div class="main-block">
      <h1>Fitness Tracker</h1>
      <form>
       
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="name" id="email" placeholder="Email" required/>
      
        <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
        <input type="password" name="name" id="password" placeholder="Password" required/>
        
        <div class="btn-block">

          <button type="submit" class="submitBtn">Log in</button>
        </div>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./js/logIn.js"></script>
  </body>
</html>