 <link rel="stylesheet" href="/css/signUp.css">
    <div class="main-block">
      <h1>Fitness Tracker</h1>
      <form id="signup-form">
       
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="email" id="email" placeholder="Email" required/>
        <label id="icon" for="name"><i class="fas fa-user"></i></label>
        <input type="text" name="fistName" id="firstName" placeholder="First Name" required/>
        <label id="icon" for="name"><i class="fas fa-user"></i></label>
        <input type="text" name="lastName" id="lastName" placeholder="Last Name" required/>
        <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
        <input type="password" name="password" id="password" placeholder="Password" required/>
        <div class="btn-block">

          <button type="submit" class="submitBtn">Sign up</button>
        </div>
      </form>
    </div>
   
    <script src="/js/signUp.js"></script>
